{% extends "main.html" %}
{% load static %}

{% block title %}
  Shoop Boop
{% endblock %}

{% block content %}
<link href="{% static 'image-puzzle-slider-captcha/src/disk/slidercaptcha.min.css' %}" rel="stylesheet" />
<div class="container">
    <div class="py-3 py-md-4">
        <p class="lead">
            Shoop Boop is both smarter and dumber than it appears at first glance.<br><br>
            It's mostly just an experiment to see if people still play clicker games.<br><br>
            But it's also an experiment in internet algorithms. Most social media platforms focus on providing new content and stimulation at every moment of every day.<br><br> 
            I wondered, what if you always saw the best post at the top of the stack? <br><br>
            What kind of content would end up at the top? How often would it change?
            What if you could promote it more than once?
            And how would things change if it took significant effort to promote content you found valuable? 
        </p>
    </div>
</div>
{% endblock %}